body {
  margin: 0;
  font-family: Itim;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Itim;
}

button {
  background-color: #FF6A49;
  color: white;
  font-family: Itim;
  border: none;
  border-radius: 7px;
  width: 16vw;
  height: 7vh;
}

.text {
  color: #FF6A49;
  font-family: Itim;
  padding-top: 3vh;
}

.fortypx {
  font-size: 40px;
}

.twentypx {
  font-size: 20px;
}

.margintop {
  margin-top: 5%;
}
.marginbottom {
  margin-bottom: 5%;
}