body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #FF6A49;
  color: white;
  font-family: Itim;
  border: none;
  border-radius: 7px;
  width: 16vw;
  height: 7vh;
}

.text {
  color: #FF6A49;
  font-family: Itim;
  padding-top: 3vh;
}

.fortypx {
  font-size: 40px;
}

.twentypx {
  font-size: 20px;
}

